body {
	font-family: 'Tahoma', sans-serif;
	background-color: aliceblue;
}

.index_page {
	background-color: beige;
	height: auto;
}

.index_page h1 {
	color: black;
	font-weight:bold;
	background-color: white;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
  width: 1080px;
}

.card h3 {
	text-align: center;
	font-size: 30px;
	background-color: rgba(255, 255, 0, 0.6);
}

.menu_page {
}

.coffee {
	background-image:url('IMG/fabric.png');
	background-size: 5%;
}

.coffee h2 {
	margin:15px;
	padding: 20px;
	background-color: crimson; /*fallback color*/
	background-color:rgba(252, 10, 187, 0.7); 
	color:white; 
	font-weight:bold;
	text-shadow: 2px 2px 2px black;
	border: 3px solid black;
	cursor: pointer;
}

.coffee h2:hover {
	background-color:rgba(252, 10, 187, 1); 
}

.coffee p {
	margin:15px;
	padding: 20px;
	background-color: palegreen; /*fallback color*/
	background-color:rgba(170, 0, 255, 0.7); 
	color:white; 
	font-weight:bold;
	text-shadow: 2px 2px 1px black;
	border: 5px double #4d0101;
	border-radius: 15px;
	cursor: grab;
}

.coffee p:hover {
	color:white;
	background-color:rgba(170, 0, 255, 1);
}

.breakfast {
	background-image:url('IMG/magic.png');
	background-size: 5%;
}

.breakfast h2 {
	margin:15px;
	padding: 20px;
	background-color: aqua; /*fallback color*/
	background-color:rgba(0, 255, 247, 0.7); 
	color:white; 
	font-weight:bold;
	text-shadow: 2px 2px 2px black;
	border: 3px solid black;
	cursor: pointer;
}

.breakfast h2:hover {
	background-color:rgba(0, 255, 247, 1);
}

.breakfast p {
	margin:15px;
	padding: 20px;
	background-color: palegreen; /*fallback color*/
	background-color:rgba(0, 128, 255, 0.7); 
	color:white; 
	font-weight:bold;
	text-shadow: 2px 2px 1px black;
	border: 5px double #44008c;
	border-radius: 15px;
	cursor: grab;
}

.breakfast p:hover {
	color:white;
	background-color:rgba(0, 128, 255, 1); 
}

.lunch {
	background-image:url('IMG/pearl.png');
	background-size: 5%;
}
	
.lunch h2 {
	margin:15px;
	padding: 20px;
	background-color: springgreen; /*fallback color*/
	background-color:rgba(0, 255, 127, 0.7); 
	color:white; 
	font-weight:bold;
	text-shadow: 2px 2px 1px black;
	border: 3px solid black;
	cursor: pointer;
}

.lunch h2:hover {
	background-color:rgba(0, 255, 127, 1); 
}

.lunch p {
	margin:15px;
	padding: 20px;
	background-color: palegreen; /*fallback color*/
	background-color:rgba(203, 255, 99, 0.7); 
	color:white; 
	font-weight:bold;
	text-shadow: 2px 2px 2px black;
	border: 5px double #769c10;
	border-radius: 15px;
	cursor: grab;
}

.lunch p:hover {
	color:white;
	background-color:rgba(203, 255, 99, 1); 
}

.dessert {
	background-image:url('IMG/light.png');
	background-size: 5%;
}

.dessert h2 {
	margin:15px;
	padding: 20px;
	background-color: gold; /*fallback color*/
	background-color:rgba(236, 192, 80, 0.7); 
	color:white; 
	font-weight:bold;
	text-shadow: 2px 2px 1px black;
	border: 3px solid black;
	cursor: pointer;
}

.dessert h2:hover {
	background-color:rgba(236, 192, 80, 1); 
}

.dessert p {
	margin:15px;
	padding: 20px;
	background-color: coral; /*fallback color*/
	background-color:rgba(255, 164, 74, 0.7); 
	color:white; 
	font-weight:bold;
	text-shadow: 2px 2px 1px black;
	border: 5px double #ff3d5a;
	border-radius: 15px;
	cursor: grab;
}

.dessert p:hover {
	color:white;
	background-color:rgba(255, 164, 74, 1); 
}

.header {
	background-color: rgba(220, 220, 220, 1);
	font-weight: bold;
	font-size: 22px;
	height: 80px;
	width: 100% - 5px;
	border: 2px solid black;
	border-radius: 5px;
	position: sticky;
	top: 8px;
	left: 0px;
	z-index: 2;
}

.header h2 {
	z-index: 2;
	position: fixed;
	left: 40px;
	top: 2px;
	background-image: conic-gradient(from90deg, red, blue);
	color: 	#DEBE5A;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	cursor: pointer;
}

.type1 {
	font-size: 18px;
	position: fixed;
	top: 39px;
	right: 200px;
}

.type2 {
	font-size: 18px;
	position: fixed;
	top: 39px;
	right: 40px;
}

.header a:hover {
	color: blue;
}


.footer {
	background-color: #778899;
	height: 89px;
}

.footer p {
	color: white;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	font-size: 16px;
	font-family: 'Georgia', serif;
	padding-top: 16px;
}

.error {color: #FF0000;}

.contact_page h1 {
	text-align:center;
	background-color: palegreen;
	font-size: 35px;
}

.collect {
	width: 810px;
	margin-left: 33.3%;
	background-color: lightskyblue;
	border: 5px ridge blue;
	border-radius: 10px;
}

.collect input {
	font-size: 25px;
	width: 802px;
}

.collect p {
	font-size: 25px;
	font-weight: bold;
}

.cnbtn {
	margin-left: 4px;
	font-size: 25px;
}

.arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

.arrow-bottom {
  transform: rotate(135deg);
  margin-left: 47.05%;
}

.arrow:hover {
	width: 35px;
	height: 35px;
	box-shadow: 0px 0px 2px 4px lime;
}

.frame {
	width: 400px;
	height: auto;
	border: 1px solid black;
	border-radius: 3px;
	margin-left: 30.1%;
	cursor: grab;
}

.trail {
	height: 10px;
	background-color: brown;
	width: 100%;
}

.cardhide1 {
  background-color: white;
  border-radius: 0.25rem;
  display: none;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
  width: 1080px;
  padding-top:1px;
}

.cardhide1 p {
	margin-left:20px;
	line-height:1.5;
}

.cardhide2 {
  background-color: white;
  border-radius: 0.25rem;
  display: none;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),#66afe1 0 1.2rem) right bottom /100% 100%,linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask:radial-gradient(circle .8rem at 2px 50%,#0000 98%,#000)0 0/100% 2.4rem;
  width: 1080px;
  padding-top:1px;
}

.cardhide2 p {
	margin-left:20px;
	line-height:1.5;
}

.frame2 {
	width: 50%;
	height: auto;
	border: 2px solid black;
	display: inline-block;
	float: right;
	margin-right:66px;
	cursor: pointer;
}

.frame2:hover {
	box-shadow: 0px 0px 3px 3px magenta;
}

li {
	font-size: 18px;
	line-height: 2.085;
}

.entree {
	margin-left: 30px;
	background-color: white;
	border: 10px double #242424;
	margin-right: 30px;
	padding-left: 30px;
	text-align: center;
}

.devpage {
	float:right;
	display: inline-block;
	font-size: 25px;
}
